
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li.block{
    border: solid 1px #ddd;
    position: relative;
    margin: 3px;
}
ul li.block .name-link{
    display: inline-block;
}

ul li.block .raw-url{
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 5px;
}
ul li.block .name-link{
    font-weight: bold;
    margin-left: 50px;
}
ul li.block .name-link:after{
    content: ":";
}

ul li.block .descr{
    margin-left: 50px;
}

ul li.block .show-raw{
    margin-left: 50px;
    background-image: url("../img/if_arrow_down_1814087.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding-left: 20px;
    cursor: pointer;
}

ul li.block .show-raw-collapse{
    margin-left: 50px;
    margin-right: 50px;
}

ul li.block .hide-raw{
    margin-left: 50px;
    margin-right: 50px;
}

ul li.block .private-img{
    position: absolute;
    top: 25%;
    left: 16px;
    background-image: url(../img/lock-icon.png);
    background-size: contain;
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.btn-reload{
    width: 100%;
}
#img_fork_me{
    position: absolute;
    top: 50px;
    right: 0;
    border: 0;
}